// .footer {
//     display: flex;
//     height: 10vh;
//     background-color: rgb(248, 247, 247);
//     color: #242424;
//     justify-content: center;
//     align-items: center;
//   }
.footer {
  height: 12vh;
  background-color: rgb(248, 247, 247);
   p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #242424;
    display: flex;
    justify-content: center;
    padding-top: 20px;
   }
}
.links {
  width: 100%;
  // margin-top: 50px;
  padding-bottom: 40px;

  background-color: rgb(248, 247, 247);
  color: #242424;
  // text-align: center;
  // align-content: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  gap: 20px; /* Space between mail and WhatsApp sections */
}
.footer-item {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    gap: 8px; /* Space between icon and text */
    text-decoration: none; /* Remove underline */
    color: #242424; /* Ensure text color is white */
  }
.mail,
.whatsapp {
    width: 30px;
}